.arrow-swiper-button {
  @include button-reset;

  display: none;

  &::before {
    content: "";
    width: 16px;
    height: 32px;
    background-color: $main-text-color;
    mask-image: url("/__spritemap#sprite-arrow-icon-view");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: background-color 0.3s;
  }

  &:hover {
    border: 1px solid $main-text-color;
  }

  &:focus {
    border: 1px solid $main-text-color;
    background-color: $price-shadow;
    outline: none;
  }

  &:active {
    background-color: $main-text-color;

    &::before {
      background-color: $white-color;
    }
  }

  &:disabled {
    &::before {
      opacity: 0.2;
    }

    &:hover {
      border: 1px solid transparent;
      background-color: transparent;
    }

    &:active {
      &::before {
        background-color: $main-text-color;
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
  }
}
