.button {
  @include link-reset;

  padding: 24px 10px;
  outline: 2px solid $white-color;
  outline-offset: -2px;

  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
  color: $white-color;
  background-color: transparent;
  transition: color 0.3s, outline-color 0.3s, background-color 0.3s;

  &:hover {
    color: $accent-text-color;
    background-color: $white-color;
  }

  &:focus {
    outline-color: $main-text-color;
    color: $accent-text-color;
    background-color: $white-color;
  }

  &:active {
    color: $main-text-color;
    outline-color: $white-color;
  }

  &--disabled {
    opacity: 0.5;

    &:hover,
    &:focus,
    &:active {
      cursor: auto;
      opacity: 0.5;
      color: $white-color;
      outline-color: $white-color;
      background-color: transparent;
    }
  }
}

.button--has-background {
  @include link-reset;

  position: relative;

  outline: 2px solid $main-text-color;
  outline-offset: -2px;
  z-index: 1;

  &:hover {
    outline-color: transparent;
    color: $white-color;

    &::before {
      opacity: 1;
    }
  }

  &:focus {
    outline-color: $main-text-color;
    color: $white-color;

    &::before {
      opacity: 0.8;
    }
  }

  &:active {
    color: $white-color-op07;
    outline-color: transparent;

    &::before {
      opacity: 1;
    }
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    opacity: 0;
    background: $gradient-button-bg;
    transition: opacity 0.3s;
    z-index: -1;
  }
}

.button--disabled .button--has-background {
  opacity: 0.3;
  cursor: auto;

  &:hover {
    opacity: 0.3;
    color: $main-text-color;
    outline-color: $main-text-color;

    &::before {
      opacity: 0;
    }
  }
}
