.faq {
  background-color: $primary-bg;
  text-align: center;
  padding: 70px 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
    text-align: left;
  }
}

.faq__title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.faq__content {
  text-align: left;

  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    gap: 45px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 40px;
  }
}

.faq__theme-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.faq__theme-button {
  @include button-reset;

  position: relative;
  padding: 14px 22px;
  border: 1px solid $tab-border-color;
  font-size: 16px;
  line-height: 16px;
  width: 140px;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    opacity: 0;
    background: $gradient-button-bg;
    transition: opacity 0.3s;
    z-index: -1;
  }

  &:hover {
    border-color: $main-text-color;
  }

  &:focus {
    outline: none;
    border-color: $main-text-color;
  }

  &:active {
    outline: none;
    border-color: transparent;
    color: $white-color;

    &::before {
      opacity: 1;
    }
  }

  &:disabled {
    &:hover {
      border-color: $main-text-color;
    }

    &:focus {
      outline: none;
      border-color: $main-text-color;
    }

    &:active {
      outline: none;
      border-color: transparent;
      color: $white-color;

      &::before {
        opacity: 1;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 17px 28px;
    width: 162px;
    font-size: 18px;
    line-height: 18px;
  }


  @media (min-width: $desktop-width) {
    width: 260px;
  }
}

.faq__theme-button--active {

}

.faq__accordion-wrapper {
  overflow: hidden;
  will-change: height;
  transition: height 0.3s;
}

.faq__accordion {
  @include list-reset;

  visibility: hidden;
  position: absolute;
  z-index: -9;

  opacity: 0;
  overflow: hidden;
  transition: opacity 1s;

  display: flex;
  flex-direction: column;
  gap: 0;

  @media (min-width: $desktop-width) {
    width: 860px;
  }
}

.faq__accordion--active {
  opacity: 1;
  visibility: visible;
  position: static;
  z-index: 0;
}

.faq__accordion-item {
  position: relative;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  gap: 0;
  transition: gap 0.3s;

  @media (min-width: $tablet-width) {
    padding: 23px 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $divider-color;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:first-child {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $divider-color;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  div:has(h3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
  }

  div:has(h3) br {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  div:nth-child(2) {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: max-height 0.3s, opacity 0.3s;
  }

  h3 {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;

    @media (min-width: $tablet-width) {
      font-size: 22px;
      line-height: 22px;
    }

    @media (min-width: $desktop-width) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  p {
    margin: 0;
    width: 238px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;

    @media (min-width: $tablet-width) {
      width: 560px;
      font-size: 18px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      width: 660px;
    }
  }

  p br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.faq__accordion-item--active {
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    gap: 23px;
  }

  div:nth-child(2) {
    opacity: 1;
  }
}

.faq__accordion-button {
  @include button-reset;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $white-color;
  border: 1px solid $second-bg;
  flex-shrink: 0;
  transition: background-color 0.3s;

  &::before {
    content: "";
    width: 22px;
    height: 22px;
    background-color: $second-bg;
    mask-image: url("/__spritemap#sprite-plus-icon-view");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: background-color 0.3s, transform 0.3s;
  }

  &:hover {
    background-color: $second-bg;

    &::before {
      background-color: $white-color;
    }
  }

  &:focus {
    outline: none;
    border: 1px solid $second-bg;
    background-color: $divider-color;

    &::before {
      background-color: $white-color;
    }
  }

  &:active {
    background-color: $main-text-color;

    &::before {
      background-color: $white-color;
    }
  }

  &:disabled {
    opacity: 0.3;

    &:hover {
      background-color: $white-color;

      &::before {
        background-color: $second-bg;
      }
    }

    &:active {
      background-color: $white-color;

      &::before {
        background-color: $second-bg;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.faq__accordion-button--active {
  background-color: $second-bg;

  &::before {
    background-color: $white-color;
    mask-image: url("/__spritemap#sprite-minus-icon-view");
    transform: rotate(360deg);
  }
}
