.footer {
  background-color: $footer-bg;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 45px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 0;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;

  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__social {
  @include list-reset;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 200px;

  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.footer__social-link {
  @include link-reset;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;
  background-color: $white-color;
  border-radius: 50%;
  transition: background-color 0.3s;

  &::before {
    content: "";
    width: 14px;
    height: 14px;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $footer-bg;
    transition: background-color 0.3s;
  }

  &--vk::before {
    mask-image: url("/__spritemap#sprite-vk-icon-view");
  }

  &--ok::before {
    mask-image: url("/__spritemap#sprite-ok-icon-view");
  }

  &--reddit::before {
    mask-image: url("/__spritemap#sprite-reddit-icon-view");
  }

  &:hover {
    background-color: $divider-color;

    &::before {
      background-color: $white-color;
    }
  }

  &:focus {
    background-color: $accent-text-color;
    outline: none;

    &::before {
      background-color: $white-color;
    }
  }

  &:active {
    background-color: $main-text-color;
  }
}

.footer__social-link--disabled {
  background-color: $white-color;
  opacity: 0.3;

  &:hover {
    background-color: $white-color;

    &::before {
      background-color: $footer-bg;
    }
  }

  &:focus {
    background-color: $white-color;

    &::before {
      background-color: $footer-bg;
    }
  }

  &:active {
    background-color: $white-color;
  }
}
