.footer {
  background-color: $footer-bg;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 45px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 0;
  }
}

.footer__container {
  @include flex-column-start;

  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__social {
  @include list-reset;
  @include flex-start-center;

  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.footer__social-link {
  @include link-reset;
  @include flex-center-center;

  width: 25px;
  height: 25px;
  background-color: $white-color;
  border-radius: 50%;

  &::before {
    content: "";
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: $footer-bg;
    width: 14px;
    height: 14px;
  }

  &--vk::before {
    mask-image: url("/__spritemap#sprite-vk-icon-view");
  }

  &--ok::before {
    mask-image: url("/__spritemap#sprite-ok-icon-view");
  }

  &--reddit::before {
    mask-image: url("/__spritemap#sprite-reddit-icon-view");
  }
}
