.form {
  background-color: $main-text-color;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.form__form-wrapper {
  padding: 70px 15px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 103px;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.form__form-inner {
  @media (min-width: $desktop-width) {
    width: 477px;
  }
}

.form__title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
  }
}

.form__box {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 205px 205px;
    grid-template-rows: auto auto;
    column-gap: 30px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.form__input {
  background-color: transparent;
  border: none;
  padding: 0 0 4px;
  border-bottom: 1px solid $contacts-divider;

  &::placeholder {
    font-size: 14px;
    line-height: 22px;
  }
}

.form__button {
  @include button-reset;

  width: 100%;
  padding: 24px 0;
  color: $white-color;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 27px 0;
  }
}
