.games {
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.games__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.games__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
  gap: 16px;

  padding: 40px;
  background-color: $accent-bg;
  color: $white-color;

  @media (min-width: $tablet-width) {
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 80px;
    gap: 30px;
    align-items: flex-start;
  }
}

.games__box {
  display: flex;
  justify-content: space-between;

  gap: 37px;
  width: 100%;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: 77px;
  }
}

.games__title {
  margin: 0;
  font-family: $second-font;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-size: 82px;
    line-height: 96px;
  }
}

.games__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (min-width: $tablet-width) {
    width: 100px;
    gap: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 95px;
    gap: 20px;
  }
}

.games__item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.games__item-title {
  position: relative;
  margin: 0;
  padding-bottom: 3px;

  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $white-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}


.games__item-box--date {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  column-gap: 4px;

  @media (min-width: $tablet-width) {
    column-gap: 6px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 5px;
  }
}

.games__item-box--date .games__item-number {
  grid-row: 1 / -1;
  align-self: center;
}

.games__item-number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.games__item-mounth {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.games__item-year {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.games__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.games__link {
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 27px 10px;
  }

  @media (min-width: $desktop-width) {
    width: 340px;
  }
}

.games__img-wrapper {
  width: 290px;
  height: 290px;
  background-color: $second-bg;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 378px;
    height: 348px;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
    height: 500px;
  }
}

.games__img {
  width: 100%;
}
