.hero {
  background: $hero-bg;
  min-height: 412px;
  color: $white-color;

  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
  }
}

.hero__header {
  padding: 15px 0 17px;

  @media (min-width: $tablet-width) {
    padding: 30px 0;
  }
}

.hero__header-container {
  display: flex;
  justify-content: space-between;
}

.hero__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    gap: 56px;
  }
}

.hero__features {
  @include list-reset;

  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    padding-top: 12px;
    align-self: center;
  }
}

.hero__features-item {
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

.hero__offer {
  display: grid;
  grid-template-columns: 113px 156px;
  grid-template-rows: auto 14px auto 48px auto;
  padding: 48px 0 32px;
  text-align: right;
  column-gap: 21px;

  @media (min-width: $tablet-width) {
    padding: 31px 0;
    grid-template-columns: 113px 185px;
    grid-template-rows: auto 10px auto 50px auto;
    column-gap: 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 0;
    grid-template-columns: 115px 270px;
    grid-template-rows: auto 40px auto 40px auto;
    column-gap: 0;
    padding-left: 75px;
  }
}

.hero__city {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  font-family: $second-font;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
  }
}

.hero__title {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  margin: 0;
  font-family: $second-font;
  font-weight: 800;
  font-size: 62px;
  line-height: 62px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.03em;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 0.04em;
  }
}

.hero__offer-link {
  grid-column: 1 / -1;
  grid-row: 5 / 6;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;

    padding: 22px 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 10px;
  }
}

.hero__img-wrapper {
  @media (min-width: $tablet-width) {
    flex-shrink: 0;
    width: 324px;
    height: 390px;
    background-color: $second-bg;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    height: 524px;
  }
}

.hero__img {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
