.phone {
  @include link-reset;

  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: $white-color;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
  }
}
