@mixin link-reset {
  display: block;
  color: inherit;
  text-decoration: none;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-between-flex-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
