/* FONTS */
$main-font: "Roboto Condensed", sans-serif;
$second-font: "Alumni Sans", sans-serif;

/* COLORS */
$white-color: #ffffff;
$main-text-color: #102654;
$main-text-color-light: rgba(#102654, 0.5);
$accent-text-color: #103aae;
$hero-bg: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$primary-bg: #f8f9fc;
$second-bg: #1c3374;
$active-tab-color: #d10a42;
$price-border: rgba(#787878, 0.2);
$price-shadow: #e8e8e8;
$gradient-button-bg: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
$outline-gradient: linear-gradient(136deg, #d10a42 0%, #00359f 100%);

/* VIEWPORTS */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;
