/* FONTS */
$main-font: "Roboto Condensed", sans-serif;
$second-font: "Alumni Sans", sans-serif;

/* COLORS */
$white-color: #ffffff;
$main-text-color: #102654;
$hero-bg: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);



/* VIEWPORTS */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
